.login-client{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#f1f5f9;

}



.login-card{


background:white;

width:400px;

padding:35px;

border-radius:20px;

box-shadow:0 10px 30px rgba(0,0,0,.1);


}



.login-card h1{

text-align:center;

color:#1e3a8a;

}



.login-card p{

text-align:center;

color:#64748b;

margin-bottom:25px;

}




.login-card label{

display:block;

margin-top:15px;

font-weight:bold;

}



.login-card input{


width:100%;

padding:12px;

margin-top:8px;

border:1px solid #ddd;

border-radius:8px;


}




.login-card button{


width:100%;

margin-top:25px;

padding:13px;

border:none;

border-radius:8px;

background:#2563eb;

color:white;

font-size:16px;

cursor:pointer;


}



.login-card button:hover{

background:#1d4ed8;

}


.password-field{

position:relative;

width:100%;

}


.password-field input{

width:100%;

padding-right:45px;

}



.password-eye{

position:absolute;

right:15px;

top:50%;

transform:translateY(-50%);

cursor:pointer;

color:#777;

font-size:18px;

display:flex;

align-items:center;

}



.password-eye:hover{

color:#333;

}

.register-link-text{

    color:#0088cc;

    font-weight:bold;

    cursor:pointer;

    margin-left:5px;

}


.register-link-text:hover{

    color:#006699;

    text-decoration:underline;

}