.mes-reservations{

padding:40px;

background:#f8fafc;

min-height:100vh;

}



.mes-reservations h1{

font-size:35px;

color:#1e3a8a;

}



.subtitle{

color:#64748b;

margin-bottom:30px;

}






.reservation-client-card{

background:white;

border-radius:20px;

padding:20px;

display:flex;

gap:25px;

margin-bottom:25px;

box-shadow:
0 10px 25px rgba(0,0,0,.08);

}




.reservation-image img{

width:220px;

height:150px;

object-fit:cover;

border-radius:15px;

}





.reservation-info h2{

color:#2563eb;

}




.reservation-info p{

color:#475569;

}





.statut{

padding:8px 18px;

border-radius:20px;

font-weight:bold;

display:inline-block;

margin-top:10px;

}



.attente{

background:#fef3c7;

color:#92400e;

}



.confirmee{

background:#dcfce7;

color:#166534;

}



.annulee{

background:#fee2e2;

color:#991b1b;

}




.empty{

background:white;

padding:40px;

border-radius:15px;

text-align:center;

color:#64748b;

font-size:18px;

}