PORT=8081

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# Local uniquement
DB_SSL_CA=

# Production / Render
DB_SSL_CA_CONTENT=

# BREVO
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=

# JWT
JWT_SECRET=

# Gemini / IA si utilisé
GEMINI_API_KEY=
