/* =====================================
   NAVBAR ADMIN
===================================== */


.navbar{


height:70px;


position:fixed;


top:0;


left:250px;


right:0;


background:white;


display:flex;


align-items:center;


justify-content:space-between;


padding:0 25px;


box-sizing:border-box;


box-shadow:

0 3px 12px rgba(0,0,0,.08);


z-index:1100;


}



/* =====================================
   PARTIE GAUCHE
===================================== */


.navbar-left{


display:flex;


align-items:center;


}




.navbar-icon{


width:38px;


height:38px;


border:none;


background:#f1f5f9;


border-radius:10px;


display:flex;


align-items:center;


justify-content:center;


font-size:16px;


color:#334155;


cursor:pointer;


transition:.3s;


}



.navbar-icon:hover{


background:#2563eb;


color:white;


}





/* =====================================
   PARTIE DROITE
===================================== */


.navbar-right{


display:flex;


align-items:center;


gap:12px;


}





/* =====================================
   PROFIL ADMIN
===================================== */


.admin-profile{


display:flex;


align-items:center;


gap:10px;


padding-left:15px;


margin-left:8px;


border-left:1px solid #e2e8f0;


max-width:260px;


}



.admin-avatar{


width:42px;


height:42px;


border-radius:50%;


object-fit:cover;


border:2px solid #2563eb;


flex-shrink:0;


}



.admin-avatar.default{


background:#2563eb;


display:flex;


align-items:center;


justify-content:center;


font-size:20px;


color:white;


}





.admin-info{


overflow:hidden;


}



.admin-info h4{


margin:0;


font-size:14px;


font-weight:600;


color:#0f172a;


white-space:nowrap;


overflow:hidden;


text-overflow:ellipsis;


}



.admin-info span{


font-size:12px;


color:#64748b;


}







/* =====================================
   RESPONSIVE
===================================== */


@media(max-width:900px){


.navbar{


left:220px;


}



.admin-info{


display:none;


}



}



@media(max-width:700px){


.navbar{


left:0;


}



}


.notification-button{

position:relative;

}



.notification-count{


position:absolute;


top:-5px;


right:-5px;


background:#dc2626;


color:white;


font-size:11px;


font-weight:bold;


width:20px;


height:20px;


border-radius:50%;


display:flex;


align-items:center;


justify-content:center;


}


/* ===============================
   BADGE NOTIFICATION
================================ */


.notification-button{

position:relative;

}



.notification-count{


position:absolute;


top:-6px;


right:-6px;


background:#dc2626;


color:white;


font-size:11px;


font-weight:bold;


width:20px;


height:20px;


border-radius:50%;


display:flex;


align-items:center;


justify-content:center;


border:2px solid white;


}